.table td , .table th {
	text-align: center;
}

.table tr td:first-child, .table th:first-child {
	text-align: left;
}

.infoBox {
	border: solid thin black;
	padding: 5px;
	background-color: #999;
	width: 200px;
}

.table th {
	background-color: #aaa;
	
}


