body {
    background-color: black;
    color: white;
}

h2 {
    color: #C79526;
}

strong {
    color: #C79526;
}

.infoBox {
	border: solid thin black;
	padding: 5px;
	background-color: #999;
	width: 200px;
}
