body {
    background-color: black;
    color: white;
}

h2, h3{
    color: #C79526;
}

strong {
    color: #C79526;
}

.infoBox {
	border: solid thin black;
	padding: 5px;
	background-color: #795A17;
	width: 200px;
        height: 100px;
        display: inline-block;
}

.gold {
    color: #C79526;
}

img {
    display: inline;
    max-height: 300px;

}

#imgContainer {
    margin-bottom: 10px;
}